{% load static %}

  <div class="card catalog-elem film-card">
    {% if film.image %}
      <img class="cat-ava-film" id="image_film" src="{% get_media_prefix %}{{ film.image }}" alt="">
    {% else %}
      <img class="cat-ava-film" id="image_film" src="{% static "img/no_picture.png" %}" alt="">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title name-film">{{ film.name }}</h5>
      <p class="card-text cat-plot">{{ film.plot | truncatewords:20}}</p>
      <a href="{% url 'film' film.slug %}" class="but but-pretty">Read more</a>
    </div>
  </div>