{% extends "base.html" %}
{% load static %}
{% block title %}Watch&rate: film {{ film.name }}{% endblock title %}

{% block content %}
  <div class="col-lg-6 col-md-8">
    <div class="header-film row">
      <h4 class="p-0 m-0 name-film">{{ film.name }}</h4>
    </div>
    <div class="row">
      <div class="functional">
        {% if film.image %}
          <img class="img-fluid film-avatar" id="image_film" src="{% get_media_prefix %}{{ film.image }}" alt="">
        {% else %}
          <img class="img-fluid film-avatar" id="image_film" src="{% static "img/no_picture.png" %}" alt="">
        {% endif %}
        <div class="rate-film-block">
          {% csrf_token %}
          {% if fav %}
            <button class="but but-pretty delete-button" id="add_to_fav">Remove from favorites</button>
          {% else %}
            <button class="but but-pretty" id="add_to_fav">Add to favorites</button>
          {% endif %}
        </div>
        <div class="rate-film-block">
          <button class="but" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                  aria-controls="collapseExample">Who added it too?
          </button>
        </div>
        <div class="collapse" id="collapseExample">
          {% for user in user_list %}
            <ul class="who-added">
              <li class="who-added-content">
{#                <p class="who-added-content">#}
                  {{ user.uID.username }}
{#                </p>#}
              </li>
            </ul>
          {% empty %}
            <h1 class="error-users">There are no users who have added this movie to themselves, but you can be the first</h1>
          {% endfor %}
        </div>
      </div>

      <div class="table-film-block">
        <table class="table-film">
          <tbody>
          <tr>
            <td class="info-film-left">Year</td>
            <td class="info-film-right">{{ film.year }}</td>
          </tr>

          <tr>
            <td class="info-film-left">Country</td>
            <td class="info-film-right">
              {% for c in film.country.all %}
                {{ c.name }}
              {% endfor %}
            </td>
          </tr>

          <tr>
            <td class="info-film-left">Producer</td>
            <td class="info-film-right">
              {% for p in film.producer.all %}
                {{ p.first_name }}{{ p.last_name }}
              {% endfor %}
            </td>
          </tr>

          <tr>
            <td class="info-film-left">Genre</td>
            <td class="info-film-right">
              {% for g in film.genre.all %}
                {{ g.name }}
              {% endfor %}
            </td>
          </tr>

          <tr>
            <td class="info-film-left">Age</td>
            <td class="info-film-right">{{ film.age }}</td>
          </tr>

          <tr>
            <td class="info-film-left">Time</td>
            <td class="info-film-right">{{ film.time }}</td>
          </tr>

          <tr>
            <td class="info-film-left">Plot</td>
            <td class="info-film-right">{{ film.plot }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_scripts %}
  <script src="{% static "js/add_to_fav.js" %}"></script>
{% endblock extra_scripts %}