{% extends 'base.html' %}
{% load static %}
{% block title %}Watch&rate{% endblock title %}

{% block content %}
  <div class="col-lg-6 col-md-8">
    <h1 class="intro-site">
      <a class="link-watch-rate" href="">Watch & rate</a>
    </h1>
    <div>
      <p class="text-header">
        <button class="but"><a class="but" href="{% url "registration" %}">Зарегистрируйтесь</a></button>
        или
        <button class="but"><a class="but" href="{% url "login" %}">выполните вход</a></button>
        <br>чтобы увидеть каталог, узнать информацию о фильмах, оценить их, увидеть список популярных фильмов и добавить
        фильмы в избранное
      </p>
    </div>
  </div>
{% endblock content %}
