*{
  margin: 0px;
  padding: 0px;
  height: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

h2 {
  font-size: 23px !important;
  line-height: 50px !important;
  text-align: center;
  font-weight: lighter !important;
  font-family: "Futura", sans-serif; !important;
  color: #0c5460 !important;
}

.navbar-color {
  background-color: #0c5460;
}

.site-color {
  background-color: #e6fdff;
}

.head-site {
  font-weight: bold;
  color: #ffffff !important;
  font-family: 'Futura', sans-serif;
}

.head-site:hover {
  font-weight: bold;
  outline: none !important;
  color: inherit;
}

.usr {
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.usr-text-block{
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
  display: inline-block;
  margin-top: -3px;
}

.usr-item{
  margin: 0px 2px;
}

.user-name{
  margin-top: 3px;
  line-height: 20px;
  font-size: 14px;
  color: #ffffff !important;
  font-family: 'Futura', sans-serif;
}

.user-name:hover{
  outline: none !important;
  color: inherit;
  text-decoration: none;
}

.user-item{
  line-height: 20px;
  font-size: 14px;
  font-weight: lighter ;
  color: #eed4e1 !important;
  font-family: 'Actor', sans-serif;
}
.user-item:hover{
  text-decoration: none;
  outline: none !important;
  color: inherit;
}

.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 20px;
  margin-right: 10px;
}

.name-film {
  font-weight: normal;
  text-decoration: none;
  color: #0c5460 !important;
  font-family: 'Futura', sans-serif;
}

.name-film:hover {
 outline: none !important;
 color: inherit;
}

.header-film{
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  line-height: 20px;
}

.functional {
  width: 150px;
}

.film-avatar {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  width: 150px;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 20px;
}

.rate-film-block {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-top: 10px;
}

.table-film-block {
  display: flex;
  justify-content: left;
  margin-left: 20px;
  max-width: 500px;
}

.table-film{
  border-collapse: separate;
  border-spacing: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.info-film-left {
  border-radius: 20px;
  padding: 8px;
  text-align: left;
  font-size: 14px;
  color: black;
  font-family: Futura,sans-serif;
  font-weight: bolder;
}

.info-film-right {
  margin-top: 30px;
  text-align: left;
  color: black !important;
  font-family: 'Actor', sans-serif;
}

.info-film-right:hover {
  outline: none !important;
  color: inherit;
}

.intro-site {
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  margin-top: 20%;
}

.link-watch-rate {
  text-decoration: none;
  color: #0c5460 !important;
  font-weight: bold;
  border-color: black;
  font-family: 'Futura', sans-serif;
}

.link-watch-rate:hover {
  outline: none !important;
  color: inherit;
  text-decoration: none;
}

.login {
  width: 300px;
  text-align: left;
  color: #0c5460;
  font-weight: bold;
}

#login-pass {
  outline: none !important;
  box-shadow: 0 0 1px #ffffff;
  border-radius: 10px;
  width: 200px;
  background-color: #fffafa;
}

#staticLogin:focus {
  outline: none !important;
  box-shadow: none !important;
}

#email:focus {
  outline: none !important;
  box-shadow: none !important;
}

#id_name {
  outline: none !important;
  box-shadow: 0 0 1px #ffffff;
  border-radius: 10px;
  background-color: #fffafa;
}

#id_name:focus {
  background-color: #fffafa;
  outline: none !important;
  box-shadow: none !important;
}

#id_year {
  outline: none !important;
  box-shadow: 0 0 1px #ffffff;
  border-radius: 10px;
  background-color: #fffafa;
}

#id_year:focus {
  background-color: #fffafa;
  outline: none !important;
  box-shadow: none !important;
}

#id_producer {
  outline: none !important;
  box-shadow: 0 0 1px #ffffff;
  border-radius: 10px;
  background-color: #fffafa;
}

#id_producer:focus {
  background-color: #fffafa;
  outline: none !important;
  box-shadow: none !important;
}

#id_country {
  outline: none !important;
  box-shadow: 0 0 1px #ffffff;
  border-radius: 10px;
  background-color: #fffafa;
}

#id_country:focus {
  background-color: #fffafa;
  outline: none !important;
  box-shadow: none !important;
}

#id_genre {
  outline: none !important;
  box-shadow: 0 0 1px #ffffff;
  border-radius: 10px;
  background-color: #fffafa;
}

#id_genre:focus {
  background-color: #fffafa;
  outline: none !important;
  box-shadow: none !important;
}

#id_actors {
  outline: none !important;
  box-shadow: 0 0 1px #ffffff;
  border-radius: 10px;
  background-color: #fffafa;
}

#id_actors:focus {
  background-color: #fffafa;
  outline: none !important;
  box-shadow: none !important;
}

#id_age {
  outline: none !important;
  box-shadow: 0 0 1px #ffffff;
  border-radius: 10px;
  background-color: #fffafa;
}

#id_age:focus {
  background-color: #fffafa;
  outline: none !important;
  box-shadow: none !important;
}

#id_time {
  outline: none !important;
  box-shadow: 0 0 1px #ffffff;
  border-radius: 10px;
  background-color: #fffafa;
}

#id_time:focus {
  background-color: #fffafa;
  outline: none !important;
  box-shadow: none !important;
}

#id_plot {
  outline: none !important;
  box-shadow: 0 0 1px #ffffff;
  border-radius: 10px;
  background-color: #fffafa;
}

#id_plot:focus {
  background-color: #fffafa;
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: 0 0 1px;
  border-color: #0c5460 !important;
}

.but {
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
  color: #0c5460;
  background-color: #ffffff;
  font-family: Futura, sans-serif;
  font-weight: 200 !important;
  white-space: nowrap;
  border: none;
}

.but:hover {
  background-color: #e3ffff;
  outline: none !important;
  color: inherit;
  text-decoration: underline #0c5460;
}

.but:focus {
  outline: none;
}

.but-pretty {
  color: #ffffff !important;
  border: 1px solid #fcb9bf;
  background-color: #ee7465;
}

.but-pretty:hover {
  background-color: #ee7465;
  outline: none !important;
  color: inherit;
  text-decoration: underline #ffffff;
}

.choose-avatar {
  margin-top: 10px;
}

.cat-ava-film {
  max-width: 300px;
  max-height: 200px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.cat-plot {
  text-align: left;
}

.catalog {
  margin-top: 35px;
  justify-content: space-around;
}

.catalog-elem {
  width: 40%;
  max-width: 200px;
  margin-bottom: 20px;
}

.line-separator {
  height: 1px;
  border-radius: 10px;
  background-color: #ccc0c4;
  margin: 30px;
}

.errors {
  margin-bottom: 15px;
  color: #ee5666;
  font-weight: 100 !important;
  font-family: 'Futura', sans-serif;
}

.film_form {
  color: #0c5460;
  font-weight: normal;
  font-family: Futura, sans-serif;
}

ul.who-added {
  margin: 0;
}

.who-added-content {
  padding: 5px;
  color: #0c5460;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Actor', sans-serif;
  font-weight: lighter;
  text-align: center;
  list-style-type: none;
}

.error-users {
  margin-bottom: 15px;
  color: #ee5666;
  font-weight: 100 !important;
  font-size: 12px;
  text-align: center;
  font-family: 'Futura', sans-serif;
}

.page-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.page-list__item {
  margin: 0 10px;
  color: #0c5460;
  background-color: #fffafe;
  outline: none;
  border: 1px solid #fcb9bf;
  border-radius: 5px;
  width: 40px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-list__item:hover {
  margin: 0 10px;
  background-color: #fffafe;
  outline: none;
  border: 1px solid #fcb9bf;
  border-radius: 5px;
  width: 40px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-list__page {
  color: #0c5460;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  font-family: 'Futura', sans-serif;
  text-decoration: none;
}

.page-list__page1 {
  color: #0c5460;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  font-family: 'Futura', sans-serif;
  text-decoration: none;
}